<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<div>
    <% if user_signed_in? %>

      <%= current_user.total %>

      <%= form_tag("/home/#{current_user.id}/add") do  %>
      <input type="text"  value="how much" name="resultPerformance">
      <input type="submit" value="送信">
      <% end %>

      <% @results.each do |result| %>
      <tr>
        <td><%= result.user.email %></td>
        <td><%= result.performance %></td>
      </tr>
      <br>
      <%end%>
      <%= line_chart @data, width: "800px", height: "500px" %>
    <% end %>
   

    <a href="input">input</a>
</div>